GOOGLE_API_KEY=your_google_api_key_here    # Google AI / Gemini API Key
HF_TOKEN=hf_your_hugging_face_token_here   # Hugging Face User Access Token
LANGSMITH_TRACING=true                     # LangSmith Observability
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=lsv2_pt_your_langsmith_api_key_here
LANGSMITH_PROJECT="your-project-name"
TEMPERATURE=0.3                            # LLM Generation Temperature (e.g., 0.0 to 1.0)
SUPABASE_DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[YOUR-PASSWORD]@aws-0-[REGION].pooler.supabase.com:6543/postgres"
